@using System.Security.Principal
@{
    ViewData["Title"] = "Roll Santa";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @User.Claims.First(c => c.Type == "name").Value!</h1>
        <p>Click below button to roll for a name!.</p>
    </div>    
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please sign in to get started.</p>
    </div>
}