@using System.Security.Principal
@model PickSanta.MVC.Models.HomeViewModel
@{
    ViewData["Title"] = "Roll Santa";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @User.Claims.First(c => c.Type == "name").Value!</h1>

        @if (Model.User == null)
        {
            <p>You have not registered to participate in Secret Santa 4.0!</p>
        }
        else if (Model.User.HasRolled)
        {
            <p>You have already rolled and you are the Santa for @Model.Map.Giftee !.</p>
        }
        else
        {
            <p>Click the button to roll!.</p>
            <input type="button" value="Roll Data" onclick="location.href = '@Url.Action("Roll", "Home")'" />
        }

    </div>    
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please sign in to get started.</p>
    </div>
}